@import '@navikt/ds-tokens';

/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

html,
body {
  height: auto;
}

:root {
  --primary-font: 'Source Sans 3';
}

/* workaround for aksel */

/* Resets */
button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Source Sans 3', sans-serif;
  line-height: 1.333;
  font-size: 1.125rem;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--a-bg-subtle);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

.footer {
  background-color: #003453;
  color: white;
  padding: 2.75rem 1.5rem 6rem;
}

.footer-content {
  max-width: 1344px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}

.to-top-link {
  font-size: 1.25rem;
  padding: 1rem 1rem 1rem 0;
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
}

.footer-links {
  columns: 22rem 3;
}

.footer-link-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-link-heading {
  break-inside: avoid-column;
  color: #99c4dd;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.footer-link-item {
  break-before: avoid-column;
  break-inside: avoid-column;
}

.footer-link {
  color: inherit;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 0;
  text-decoration-color: #99c4dd;
  text-decoration-thickness: 0.0625em;
  text-underline-offset: 0.15em;
}

/* HEADER AND MENU */
#menu {
  position: absolute;
  top: 79px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: white;
  max-width: 1440px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  display: none;
  padding: 32px;
  padding-left: var(--a-spacing-12);
  padding-top: var(--a-spacing-6);
  box-sizing: border-box;
}

#menu h2 {
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.048px;
}

#menu-items {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu-items-universal-links {
  order: 1;
  display: flex;
}

#menu-items:has(.loggedin) #menu-items-universal-links {
  order: 2;
}

#login-button {
  order: 2;
}

#logged-in-menu {
  background-color: rgba(230, 240, 255, 1);
  height: 100%;
  order: 2;
  display: flex;
  align-items: center;
  padding: 0 var(--a-spacing-2);
}

#simple-logged-in-menu {
  height: 100%;
  padding: 0 var(--a-spacing-2);
  display: flex;
  align-items: center;
}

#simple-logged-in-menu p {
  white-space: nowrap;
  margin: 0 var(--a-spacing-4);
}

@media (--breakpoint-md) {
  #simple-logged-in-menu p {
    display: none;
  }
}

/* @TODO: Maybe better scoped name */
.link {
  /* color is text-text-action, replace later */
  color: var(--a-text-action);
  text-decoration-line: underline;
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.75rem /* 12px */;
  display: inline-block;
  text-underline-offset: 3px;
}

/* Used for til min forside etc */
.big-link {
  color: rgba(0, 103, 197, 1);
  text-decoration-line: underline;
  padding-top: var(--a-spacing-2);
  padding-bottom: var(--a-spacing-3);
  display: inline-block;
}

#menu-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(50, 65, 79, 0.8);
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.siteheader {
  position: relative;
  height: 79px;
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(207, 207, 207, 1);
  z-index: 20;
}

.siteheader .hovedmeny-wrapper {
  max-width: 1344px;
  width: 100%;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.hovedmeny-wrapper .hovedmeny-content {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-left: var(--a-spacing-12);
}

@media (--breakpoint-lg) {
  .hovedmeny-wrapper .hovedmeny-content {
    padding-left: var(--a-spacing-4);
  }
}

.context-link {
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 4px solid transparent;
  padding: 0 1rem;
}

.context-link:hover {
  border-color: var(--a-gray-300);
}

.context-link.lenkeActive {
  font-weight: bold;
  border-color: var(--a-text-action);
}

#arbeidsflate {
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: 40px;
}

#menu.active {
  display: block;
}

#menu-background.active {
  opacity: 1;
  pointer-events: auto;
}

#loggedin-menu-wrapper {
  position: absolute;
  top: 79px;
  right: 0;
  width: 100%;
  display: none;
}

#loggedin-menu-wrapper.active {
  display: block;
}

#loggedin-menu-content {
  max-width: 1450px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#loggedin-menu-content .dropdown {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: var(--a-spacing-8);
}

#varsler-menu-content {
  max-width: 570px;
  width: 100%;
  box-sizing: border-box;
  display: none;
  background-color: #f7f7f7;
  padding-top: var(--a-spacing-2);
}

#loggedin-menu-content #varsler-menu-content {
  padding-top: var(--a-spacing-3);
}

#varsler-menu-content.active {
  display: block;
}

#my-page-menu-content {
  width: 100%;
  max-width: 1024px;
  display: none;
  background-color: white;
}

#my-page-menu-content.active {
  display: block;
}

#search-loader {
  display: none;
}

#search-loader.active {
  display: block;
}

/* HEADER MENU LINKS */
.header-menu-links {
  display: grid;
}

#header-menu-links.is-searching {
  display: none;
}

.header-menu-links.cols-5 {
  grid-template-columns: repeat(5, 1fr);
}

.header-menu-links.cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

.header-menu-links.cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.header-menu-links h3 {
  font-size: 1.25rem /* 20px */;
  font-weight: 600;
}

.header-menu-links .nested {
  /* background-color: red; */
}

.header-menu-links .nested-link {
  display: none;
}

@media (--breakpoint-lg) {
  .header-menu-links .nested-link {
    display: flex;
  }

  /* Hide direct */
  .header-menu-links .nested > h3 {
    display: none;
  }

  .header-menu-links .nested > ul {
    display: none;
  }
}

.header-menu-link {
  display: flex;
  align-items: flex-start;
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;
}

.header-menu-link svg {
  fill: var(--a-text-action);
  stroke: var(--a-text-action);
}

.header-menu-link a {
  order: 2;
}

.header-menu-link-inner {
  color: rgba(0, 103, 197, 1);
  margin-right: 1rem /* 16px */;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  order: 1;
}

.header-menu-link:is(:hover, :focus) .header-menu-link-inner {
  transform: translateX(8px);
}

.header-menu-link a {
  color: var(--a-text-action);
}

.header-menu-link:is(:hover, :focus) a {
  text-decoration-line: underline;
}

/* Context menu link */
/* Styling should be consoliated */
.context-menu-link {
  display: flex;
  align-items: center;
  color: var(--a-text-action);
  padding: var(--a-spacing-5);
  padding-left: var(--a-spacing-2);
  cursor: pointer;
}

.context-menu-link .chevron {
  fill: var(--a-text-action);
  stroke: var(--a-text-action);
  margin-top: -4px;
}

.context-menu-link span {
  order: 2;
  font-size: 1.2rem; /* var(--a-font-size-heading-small); */
  font-weight: bold;
}

.context-menu-link-inner {
  color: rgba(0, 103, 197, 1);
  margin-right: var(--a-spacing-2);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  order: 1;
  display: flex;
  height: 100%;
  align-items: center;
}

.context-menu-link:hover {
  background-color: var(--a-blue-500);
  color: white;
  border-radius: 4px;
}

.context-menu-link:is(:hover, :focus) .context-menu-link-inner {
  color: white;
  stroke: white;
}

.context-menu-link:is(:hover, :focus) .chevron {
  fill: white;
  stroke: white;
}

.context-menu-link:is(:hover, :focus) .context-menu-link-inner {
  transform: translateX(8px);
}

.context-menu-link:is(:hover, :focus) span {
  text-decoration-line: underline;
  text-underline-offset: var(--a-spacing-1);
}

/* Conext link inside header menu */

#sok-dropdown {
  position: absolute;
  top: 79px;
  background-color: white;
  transform: translateX(-50%);
  padding: 8px 48px 16px 48px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  max-width: 700px;
  width: 100%;
  display: none;
}

#sok-dropdown-content {
  display: grid;
  gap: 8px;
}

#sok-dropdown.active {
  display: block;
}

/* Some duplication happening here with the search page */
#search-input {
  background-color: white;
  border: 2px solid var(--a-blue-500);
  padding: 0.7rem 1rem;
  border-radius: 3px;
  box-sizing: border-box;
  width: 100%;
  min-height: 48px;
  font-size: 18px;
  line-height: 24px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#search-input:focus-visible {
  outline: none;
}

#search-hits ul {
  margin-top: var(--a-spacing-4);
}

#search-hits #show-more {
  margin-top: var(--a-spacing-4);
}

.search-hit {
  padding-top: 1rem /* 16px */;
  padding-bottom: 1rem /* 16px */;
  padding-left: 0.5rem /* 8px */;
  padding-right: 1rem /* 16px */;

  border-bottom: 1px solid rgba(207, 207, 207, 1);
}

.search-hit:hover {
  background-color: rgba(207, 207, 207, 1);
}

.search-hit h2 {
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
  font-weight: 600;
}

/* Blue background button  */

.big-label {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  display: block;
}

.decorator-utils-container_gray {
  background-color: var(--a-bg-subtle);
}

.decorator-utils-container_white {
  background-color: var(--a-bg-default);
}

/*  Can probably be removed */
.decorator-utils-container_transparent {
  background-color: transparent;
}

/* Breadcrumbs */
#breadcrumbs-wrapper #breadcrumbs-list {
  display: flex;
  align-items: center;
  max-width: 1344px;
  list-style: none;
  /* width: 100%; */
  margin-left: auto;
  margin-right: auto;
}

#breadcrumbs-list a {
  display: flex;
  gap: var(--a-spacing-1);
}
#breadcrumbs-list a span {
  text-decoration: underline;
  color: var(--a-blue-500);
}

#breadcrumbs-list a svg {
  font-size: 30px;
}

#breadcrumbs-list .list-item {
  display: flex;
  align-items: center;
}

#breadcrumbs-list .list-item::before {
  place-self: center;
  content: url("data:image/svg+xml,%3Csvg width='1.25em' height='1.25em' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' focusable='false' role='img'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.47 5.97a.75.75 0 0 1 1.06 0l5.5 5.5a.75.75 0 0 1 0 1.06l-5.5 5.5a.75.75 0 1 1-1.06-1.06L14.44 12 9.47 7.03a.75.75 0 0 1 0-1.06Z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E");
}

.show-more a {
  text-decoration: underline;
  color: var(--a-surface-action);
}

#feedback {
  border-top-width: 2px;
  border-color: rgba(207, 207, 207, 1);
  padding-top: 1rem /* 16px */;
  padding-bottom: 1rem /* 16px */;
}

.feedback-content {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 48rem /* 768px */;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-content h2 {
  font-size: 20px;
  line-height: 28px;
}

.basic-link {
  color: var(--a-surface-action);
  text-decoration: underline;
}

/* Buttons */

.icon-button {
  display: flex;
  gap: 0.5rem;
  color: rgba(0, 103, 197, 1);
  min-width: 95px;
  white-space: nowrap;
  border-radius: 3px;
  padding-top: 0.75rem /* 12px */;
  padding-bottom: 0.75rem /* 12px */;
  padding-right: 1rem /* 16px */;
  padding-left: 0.25rem /* 4px */;
  border: 2px solid transparent; /* border-2 border-transparent */
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(255, 255, 255, 0);
}

.blue-bg-icon {
  background-color: var(--a-blue-500);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: white;
  border-left: none;
}

.icon-button:hover {
  border-color: rgba(0, 103, 197, 1);
  background-color: var(--a-blue-100);
}

.icon-button:active {
  background-color: rgba(0, 91, 130, 1);
  color: white;
  border-color: white;
  outline: 3px solid #1e40af;
}

.icon-button-span {
  font-weight: 600;
  white-space: nowrap;
}

/* Inputs */
#inline-search,
.header-menu-link.mobile {
  display: none;
}
#sub-menu-content {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: white;
  display: none;
}

#sub-menu-content #mobil-lukk {
  color: var(--a-text-action);
  font-weight: 600;
  display: none;
  align-items: center;
  gap: var(--a-spacing-1);
  padding: var(--a-spacing-2);
  padding-left: 0;
  text-decoration: underline;
  margin-bottom: var(--a-spacing-4);
}

#menu-context-links {
  padding-top: 66px;
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-2);
}

.menu-top a {
  margin-bottom: var(--a-spacing-4);
}

/*  Breakpoints  */
@media (--breakpoint-lg) {
  #arbeidsflate {
    display: none;
  }

  #inline-search {
    display: block;
  }

  /* Search button moves to mobile menu */
  #search-button {
    display: none;
  }

  .siteheader {
    height: 72px;
    position: sticky;
    top: 0px;
  }

  .icon-button {
    flex-direction: column;
    min-width: none;
    gap: 0px;
    align-items: center;
  }

  #my-page-menu,
  #menu {
    top: 73px;
  }

  #menu {
    padding: 0;
    left: -100%;
    display: block;
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }

  #menu-content {
    height: calc(100vh - 73px);
    overflow-y: auto;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    background-color: white;
  }

  #sub-menu-content {
    display: block;
  }

  #menu-content,
  #sub-menu-content {
    padding: var(--a-spacing-4);
  }

  /* For when nestin is possible */

  #menu-content.sub-menu-active {
    transform: translateX(-100%);
  }

  #menu.active {
    transform: translateX(100%);
  }

  .menu-top {
    display: none;
  }

  .header-menu-links.cols-5,
  .header-menu-links.cols-4,
  .header-menu-links.cols-3 {
    grid-template-columns: 1fr;
  }

  /* Maybe should be global? */
  .header-menu-links h3,
  #sub-menu-content h3 {
    font-size: var(--a-font-size-heading-medium);
    margin: 0;
    padding: var(--a-spacing-4) 0px;
    padding-bottom: var(--a-spacing-1);
  }

  .header-menu-link {
    justify-content: space-between;
    padding: var(--a-spacing-4) 0px;
  }

  .header-menu-link.mobile {
    display: none;
  }

  .header-menu-link a {
    order: 1;
    font-weight: var(--a-font-weight-bold);
    font-size: var(--a-font-size-heading-small);
  }

  .header-menu-link-inner {
    order: 2;
  }

  /* For context links inside the menu */
  .header-menu-context-link {
    font-weight: var(--a-font-weight-bold);
    font-size: var(--a-font-size-heading-small);
  }

  /* #header-menu-links .flatten { */
  /*   display: none; */
  /* } */

  .header-menu-link.mobile {
    display: flex;
  }

  #sub-menu-content #mobil-lukk {
    display: flex;
  }
}

#driftsmeldinger {
  background-color: var(--a-deepblue-600);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--a-spacing-2) 0px;
}

#driftsmeldinger a {
  display: flex;
  align-items: center;
  gap: var(--a-spacing-2);
  padding: 10px;
  padding-left: 0px;
}

#driftsmeldinger a p {
  /* Seems to be global, can probably be specified at a higher level */
  text-decoration: underline;
  text-underline-offset: 3px;
  margin: 0px;
}

#varsler-empty,
#varsler-populated {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#varsler-empty h1 {
  margin: 0;
  font-size: var(--a-font-size-heading-small);
  letter-spacing: -0.001em;
  line-height: var(--a-font-line-height-heading-small);
  margin-top: var(--a-spacing-6);
}

#varsler-empty p {
  margin: 0;
}

#varsler-empty a {
  margin: var(--a-spacing-6) 0px;
  text-decoration: underline;
}

.varsler-icon-wrapper {
  position: relative;
}

.varsler-ulest {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--a-icon-danger);
  position: absolute;
  bottom: 3px;
  right: -4px;
  display: none;
}

/* Shown when notifications have been checked */
.varsler-ulest.active {
  display: block;
}

#varsler-populated .title {
  margin-top: 0px;
}

.varsel-beskjed {
  border: 1px solid var(--a-border-subtle);
  display: block;
  border-radius: var(--a-spacing-2);
  padding: var(--a-spacing-4);
  margin: var(--a-spacing-2) 0px;
  background-color: white;
  transition: background-color 0.1s linear;
  cursor: pointer;
}

.varsel-beskjed:hover {
  background-color: var(--a-surface-hover);
}

.varsel-beskjed h3 {
  margin: 0;
  font-size: 18px;
}

.varsel-beskjed p {
  margin: 0;
  color: #707070;
  font-size: 16px;
}

.varsel-beskjed .meta-og-knapp {
  margin-top: var(--a-spacing-2);
  display: flex;
  justify-content: space-between;
  /* For chevron */
  color: #707070;
}

.varsel-beskjed svg {
  display: block;
}

#varsler-populated-beskjeder {
  width: 100%;
}

/*  Utils  */
.flex {
  display: flex;
}

.mb-4 {
  margin-bottom: var(--a-spacing-4);
}

.mx-4 {
  margin-left: var(--a-spacing-4);
  margin-right: var(--a-spacing-4);
}

.my-1 {
  margin-top: var(--a-spacing-1);
  margin-bottom: var(--a-spacing-1);
}

.text-medium-semibold {
  font-size: var(--a-font-size-medium);
  font-weight: var(--a-font-weight-bold);
}

.space-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

decorator-lens {
  display: none;
}

decorator-lens.active {
  display: block;
}

/* Animations */
@media (prefers-reduced-motion: no-preference) {
  :where(.menuBurger) * {
    transition-property: transform, opacity, stroke-width;
    transition-duration: 260ms;
    transition-timing-function: cubic-bezier(0.2, 0, 0.6, 1.3);
  }
}

:where(.menuBurger) * {
  transform-origin: center;
}

[aria-expanded='true'] .menuBurger__line-1 {
  transform: rotate(-225deg) translate3d(0, 8px, 0);
}
[aria-expanded='true'] .menuBurger__line-2 {
  transform: rotate(-180deg) scaleX(0);
}
[aria-expanded='true'] .menuBurger__line-3 {
  transform: rotate(-135deg) translate3d(0, -8px, 0);
}

/* Search  */
@media (prefers-reduced-motion: no-preference) {
  :where(.menuSearch) * {
    transition-property: transform, opacity, stroke-width;
    transition-duration: 260ms;
    transition-timing-function: cubic-bezier(0.2, 0, 0.6, 1.3);
  }
}
:where(.menuSearch) * {
  transform-origin: center;
}
[aria-expanded='true'] .menuSearch__circle {
  transform: scale(0.01);
}
[aria-expanded='true'] .menuSearch__line-1 {
  transform: rotate(180deg) translate3d(-3px, -3px, 0);
}
[aria-expanded='true'] .menuSearch__line-2 {
  transform: rotate(90deg) translate3d(-3px, -3px, 0);
}
[aria-expanded='true'] .menuSearch__line-3 {
  transform: rotate(-90deg) translate3d(-3px, -3px, 0);
}
[aria-expanded='true'] .menuSearch__line-4 {
  transform: translate3d(-3px, -3px, 0);
}
