.iconButton {
  background: none;
  margin: 0;
  font: inherit;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  color: rgba(0, 103, 197, 1);
  min-width: 95px;
  white-space: nowrap;
  border-radius: 3px;
  padding-top: 0.75rem /* 12px */;
  padding-bottom: 0.75rem /* 12px */;
  padding-right: 1rem /* 16px */;
  padding-left: 0.25rem /* 4px */;
  border: 2px solid transparent; /* border-2 border-transparent */
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(255, 255, 255, 0);
}

.iconButton:hover {
  background-color: var(--a-blue-100);
}

.iconButton:focus-visible {
  box-shadow: var(--a-shadow-focus);
  border-color: rgba(0, 103, 197, 1);
  outline: none;
}

.iconButton:active {
  background-color: rgba(0, 91, 130, 1);
  color: white;
}

.iconButton:focus-visible:active {
  border-color: white;
}

.iconButtonSpan {
  font-weight: 600;
  white-space: nowrap;
}

[aria-expanded='true'] .chevron {
  transform: rotate(180deg);
}

@media (--breakpoint-lg) {
  .iconButton {
    flex-direction: column;
    min-width: none;
    gap: 0px;
    align-items: center;
  }
}
