node_modules/
public/dist.css
*.log
dist/
**/.DS_Store
storybook-static/
.idea

packages/server/public/assets/
packages/server/public/~partytown/
packages/server/public/.vite/
packages/server/.env

# yarn 3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.eslintcache
.DS_Store

packages/client/css-modules.d.ts
packages/server/css-modules.d.ts
packages/shared/css-modules.d.ts
