.loggedinMenuWrapper {
  position: absolute;
  top: 79px;
  right: 0;
  width: 100%;
  display: none;
  pointer-events: none;
}

.loggedinMenuWrapper.active {
  display: block;
}

.loggedinMenuContent {
  max-width: 1450px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.loggedinMenuContent .dropdown {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: var(--a-spacing-8);
  pointer-events: auto;
}

.loggedInMenu {
  background-color: rgba(230, 240, 255, 1);
  height: 100%;
  order: 2;
  display: flex;
  align-items: center;
  padding: 0 var(--a-spacing-2);
}

.myPageMenuHeading {
  font-size: var(--a-font-size-medium);
  font-weight: var(--a-font-weight-bold);
}

.simpleLoggedInMenu {
  height: 100%;
  padding: 0 var(--a-spacing-2);
  display: flex;
  align-items: center;
}

.simpleLoggedInMenu p {
  white-space: nowrap;
  margin: 0 var(--a-spacing-4);
}

@media (--breakpoint-md) {
  .simpleLoggedInMenu p {
    display: none;
  }
}

.myPageMenuContent {
  gap: var(--a-spacing-4);
  width: 100%;
  max-width: 1024px;
  display: none;
  background-color: white;
}

.myPageMenuContent.active {
  display: grid;
}

.link {
  color: var(--a-text-action);
  text-decoration-line: underline;
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.75rem /* 12px */;
  display: inline-block;
  text-underline-offset: 3px;
}

.notificationsMenuContent {
  max-width: 570px;
  max-height: 80vh;
  overflow-y: scroll;
  width: 100%;
  display: none;
  background-color: #f7f7f7;
  padding-top: var(--a-spacing-2);
}

.loggedinMenuContent .notificationsMenuContent {
  padding-top: var(--a-spacing-3);
}

.notificationsMenuContent.active {
  display: block;
}

.notificationsUnread {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--a-icon-danger);
  position: absolute;
  bottom: 3px;
  right: -4px;
  display: none;
}

.notificationsUnread.active {
  display: block;
}

.notificationsIconWrapper {
  position: relative;
}
