.menuItems {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuItemsUniversalLinks {
  display: flex;
}

.searchDropdown {
  max-width: 700px;
}

@media (--breakpoint-lg) {
  .searchButton {
    display: none;
  }
}

.searchMenu {
  display: grid;
  gap: var(--a-spacing-4);
}
