.dekoratorLenke {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.375rem 0;
  text-decoration: none;
  cursor: pointer;
  color: rgba(0, 103, 197, 1);
}

.dekoratorLenke:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.0625em;
  text-underline-offset: 0.15em;
}

.dekoratorLenke:focus {
  outline: none;
  color: #fff;
  text-decoration: none;
  background-color: var(--a-border-focus);
  box-shadow: 0 0 0 2px var(--a-border-focus);
}

.lenkeMedSporing {
  text-decoration: underline;
  text-decoration-thickness: 0.0625em;
  text-underline-offset: 0.15em;
  cursor: pointer;
}

.lenkeMedSporing:hover {
  text-decoration: none;
}
