@import '@navikt/ds-tokens';

html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  margin: 0;
}

#header-withmenu,
#footer-withmenu {
  font-family: 'Source Sans 3', sans-serif;
  line-height: 1.333;
  font-size: 1.125rem;
}
