@import '@navikt/ds-tokens';

html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

html,
body {
  height: auto;
}

:root {
  --primary-font: 'Source Sans 3';
}

/* workaround for aksel */

/* Resets */
button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Source Sans 3', sans-serif;
  line-height: 1.333;
  font-size: 1.125rem;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--a-bg-subtle);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

#search-hits ul {
  margin-top: var(--a-spacing-4);
}

#search-hits #show-more {
  margin-top: var(--a-spacing-4);
}

.search-hit {
  padding-top: 1rem /* 16px */;
  padding-bottom: 1rem /* 16px */;
  padding-left: 0.5rem /* 8px */;
  padding-right: 1rem /* 16px */;
  border-bottom: 1px solid rgba(207, 207, 207, 1);
}

.search-hit:hover {
  background-color: rgba(207, 207, 207, 1);
}

.search-hit h2 {
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
  font-weight: 600;
}
