@import "@navikt/ds-css/dist/global/fonts.css";
@import "@navikt/ds-css/dist/global/tokens.css";

html {
    box-sizing: border-box;
}

*,
:after,
:before {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

@layer dekorator-base, dekorator-utilities;

@layer dekorator-base {
    #decorator-header,
    #decorator-footer {
        --edge-spacing: var(--a-spacing-4);
        --desktop-min-width: 768px;
        --header-height: 72px;

        font-family: var(--a-font-family);
        line-height: calc(4 / 3);
        font-size: 1.125rem;
        color: var(--a-text-default);

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        @media (min-width: 768px) {
            --header-height: 80px;
        }
    }

    :where(#header-withmenu, #footer-withmenu) {
        font-family: var(--a-font-family, "Source Sans Pro", Arial, sans-serif);
    }

    @media (min-width: 1024px) {
        #decorator-header,
        #decorator-footer {
            --edge-spacing: var(--a-spacing-10);
        }
    }
}
