.button {
    appearance: none;
    background: #fff;
    padding: 8px 15px;
    position: fixed;
    bottom: 20px;
    right: 8px;
    z-index: 998;
    border: 0;
    cursor: pointer;
    border-radius: 30px;
    transform: scale(0.8) translate3d(0, 140px, 0);
    opacity: 0;
    transition:
        transform 0.2s,
        opacity 0.1s;
    display: none;
    box-shadow:
        inset 0 0 0 1px rgba(0, 0, 0, 0.4),
        0 0 0 5px var(--a-blue-800),
        0 1px 4px rgba(0, 0, 0, 0.5),
        0 4px 10px #000,
        0 0 0 6px rgba(0, 0, 0, 0.1);
}

.button.visible {
    transform: scale(1);
    opacity: 1;
    transition:
        transform 0.5s,
        opacity 0.2s 0.3s;
    display: block;
}

@media (hover: hover) {
    .button:hover {
        background-color: var(--a-blue-800);
        box-shadow:
            inset 0 0 0 1px rgba(0, 0, 0, 0.6),
            0 0 0 5px #fff,
            0 4px 10px #000,
            0 0 0 6px rgba(0, 0, 0, 0.1);
    }
}

.button:focus {
    background: var(--a-blue-800);
    outline: none;
    box-shadow:
        inset 0 0 0 1px rgba(0, 0, 0, 0.6),
        0 0 0 5px #fff,
        0 4px 10px #000,
        0 0 0 6px rgba(0, 0, 0, 0.1);
}

@media (min-width: 30rem) {
    .button {
        margin-right: 35px;
        margin-bottom: 23.3333px;
        padding: 8px 15px;
        bottom: 17px;
        right: 17px;
    }
}

@media (min-width: 36.25rem) {
    .button {
        bottom: 25px;
        right: 25px;
    }
}

.chatbotWrapper {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    right: -23.3333px;
    transform: translateY(-50%);
    transition: transform 0.2s;
    display: inline-block;
    vertical-align: top;
}

.button:hover .chatbotWrapper,
.button:focus .chatbotWrapper {
    transform: translateY(-50%) scale(1.1);
}

.frida {
    width: 100%;
    height: 100%;
    border-radius: 70px;
    background-color: white;
}

.chatbotWrapper:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow:
        inset 0 0 0 1px rgba(0, 0, 0, 0.4),
        0 0 0 6px var(--a-blue-800),
        0 0 0 5px #fff,
        0 0 1px 5px rgba(0, 0, 0, 0.2),
        0 4px 10px #000,
        10px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 70px;
}

@media (hover: hover) {
    .button:hover .chatbotWrapper:before {
        box-shadow:
            inset 0 0 0 1px rgba(0, 0, 0, 0.4),
            0 0 0 6px var(--a-blue-800),
            0 0 0 6px #fff,
            0 0 1px 5px rgba(0, 0, 0, 0.2),
            0 4px 10px #000,
            10px 10px 10px rgba(0, 0, 0, 0.3);
    }
}

.button:focus .chatbotWrapper:before {
    box-shadow:
        inset 0 0 0 1px rgba(0, 0, 0, 0.3),
        0 0 0 6px var(--a-blue-800),
        0 4px 10px white,
        0 0 0 4px #5c4378,
        0 0 0 9px var(--a-blue-50),
        0 10px 10px 10px rgba(0, 0, 0, 0.3);
}

@media (min-width: 30rem) {
    .chatbotWrapper {
        width: 70px;
        height: 70px;
        right: -35px;
    }
}
