.list {
    list-style: none;
    padding: 6px 0;
    margin-block: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--a-spacing-2);
}

.link {
    display: flex;
    align-items: center;
    gap: var(--a-spacing-2);
}

.link .svg {
    font-size: 2rem;
    color: var(--a-text-default);
}

.link:active .svg,
.link:focus-visible .svg {
    color: var(--a-text-on-action);
}

@supports not selector(:focus-visible) {
    .link:focus .svg {
        color: var(--a-text-on-action);
    }
}

.span {
    text-decoration: underline;
}

.listItem {
    display: flex;
    align-items: center;
    gap: var(--a-spacing-2);
}
