.list {
    list-style: none;
    padding: 6px 0;
    margin-block: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--a-spacing-2);
}

.link {
    padding-block: 0.625rem;
}

.homeLink {
    display: flex;
    align-items: center;
    gap: var(--a-spacing-2);
    padding-block: 6px;
}

.homeLink .svg {
    font-size: 2rem;
    color: var(--a-text-default);
    line-height: 0;
}

.homeLink:active .svg,
.homeLink:focus-visible .svg {
    color: var(--a-text-on-action);
}

@supports not selector(:focus-visible) {
    .homeLink:focus .svg {
        color: var(--a-text-on-action);
    }
}

.listItem {
    display: flex;
    align-items: center;
    gap: var(--a-spacing-2);
}
