.alert {
    border: 1px solid;
    border-radius: var(--a-border-radius-medium);
    padding: var(--a-spacing-4);
    display: flex;
    gap: var(--a-spacing-3);
}

.alert svg {
    height: var(--a-font-line-height-xlarge);
    font-size: 1.5rem;
}

.alert.warning{}
.alert.success{}
.alert.info{}
.alert.error {
    background-color: var(--a-surface-danger-subtle);
    border-color: var(--a-border-danger);
}
.alert.error svg {
    color: var(--a-icon-danger);
}

/* Consolidate text */
.text {
    font-size: var(--a-font-size-large);
    font-weight: var(--a-font-weight-regular);
    letter-spacing: 0;
    line-height: var(--a-font-line-height-xlarge);
    margin: 0;
}
