.menuTop {
  display: none;
}

.menuContent {
  height: calc(100vh - 73px);
  overflow-y: auto;
  position: relative;
  background-color: white;
  padding: var(--a-spacing-4);
}

.searchMenu {
  display: grid;
  gap: var(--a-spacing-4);
}

@media (min-width: 768px) {
  .menuTop {
    display: block;
  }

  .menuContent {
    height: auto;
    padding: 0;
  }

  .searchMenu {
    display: none;
  }
}
