.menuTop {
    display: none;
}

.searchMenu {
    display: grid;
    padding-inline: var(--edge-spacing);
}

@media (min-width: 768px) {
    .menuTop {
        display: block;
    }

    .searchMenu {
        display: none;
    }
}
