.menuTop {
    display: none;
}

.searchMenu {
    display: grid;
    padding-inline: var(--edge-spacing);
    grid-gap: var(--a-spacing-4);
}

@media (min-width: 48rem) {
    .menuTop {
        display: block;
    }

    .searchMenu {
        display: none;
    }
}
