.consentBanner {
    overflow: visible;
    border: none;
    position: fixed;
    bottom: 0;
    right: 0;
    inset: 2rem;
    margin: auto auto 0 0;
    width: calc(660px - 4rem);
    padding: 0;
    border-radius: var(--a-border-radius-large);
    background-color: var(--a-surface-action);

    @media (max-width: 768px) {
        width: 100%;
        inset: 0;
        margin: auto auto 2rem auto;
    }
}

.consentBanner::backdrop {
    width: 0;
    height: 0;
    display: none;
    pointer-events: none;
}

:global(.minimized) > .miniContent {
    display: flex;
}

:global(.minimized) > .content {
    display: none;
}

.miniContent {
    display: none;
}

.expandButton {
    background-color: transparent;
    color: white;
    width: 100%;
    text-align: left;
}

.expandIcon {
    width: 1.5rem;
    height: 1.5rem;
}

.expandButton span {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.content {
    margin: 2rem;
    display: grid;
    grid-template-columns: auto 1fr; /* Two equal-width columns */
    gap: 10px;

    @media (max-width: 768px) {
        gap: 0px;
    }
}

.column {
    display: flex;
    flex-direction: column;
}

.infoIcon {
    color: white;
    margin: 0.3rem 0 0 0;
    @media (max-width: 768px) {
        display: none;
    }
}

.title {
    font-size: var(--a-font-size-heading-medium);
    font-weight: bold;
    margin: 0 0 var(--a-spacing-4) 0;
    color: var(--a-surface-default);
}

.text {
    font-size: var(--a-font-size-large);
    margin: 0 0 var(--a-spacing-8) 0;
    color: var(--a-surface-default);
}

.text a {
    color: var(--a-surface-default);
    text-decoration: underline;
}

.text p {
    margin: 0;
}

.buttonContainer {
    display: flex;
    justify-content: flex-start;
    gap: var(--a-spacing-2);
}

.button,
.button:hover {
    margin: 0;
    font: inherit;
    font-size: var(--a-font-size-large);
    color: inherit;
    cursor: pointer;
    background-color: var(--a-surface-default);
    color: var(--a-blue-500);
    padding: 0.5625rem;
    display: grid;
    grid-auto-flow: column;
    gap: var(--a-spacing-2);
    align-items: center;
    border-radius: var(--a-border-radius-medium);
}

.button:focus-visible {
    box-shadow:
        inset 0 0 0 2px
            var(
                --ac-button-secondary-focus-border,
                var(
                    --__ac-button-secondary-focus-border,
                    var(--a-border-action)
                )
            ),
        var(--a-shadow-focus);
}
