.background {
    background-color: var(--ax-bg-accent-strong);
}

.consentBanner {
    background-color: var(--ax-bg-accent-strong);
    inset: 2rem;
    color: var(--ax-text-accent-contrast);
}

:global(.decorator-consent-decided) .consentBanner {
    display: none;
}

.content {
    padding-block: 1rem;

    @media (min-width: 48rem) {
        padding-block: 2rem;
    }
}

.title {
    font-size: var(--ax-font-size-heading-medium);
    font-weight: bold;
    margin-block: 0 var(--ax-space-16);
    text-wrap: pretty;
}

.text {
    font-size: var(--ax-font-size-large);
    line-height: 1.5;
    margin-bottom: var(--ax-space-32);
}

.text a {
    color: inherit;
    text-decoration: underline;
}

.text p {
    margin: 0;
}

.buttonContainer {
    display: flex;
    justify-content: flex-start;
    gap: var(--ax-space-16);
    align-items: center;
    margin-bottom: var(--ax-space-12);
}

.button[data-variant="primary"] {
    background-color: var(--ax-bg-default);
    color: var(--ax-text-accent-subtle);
    cursor: pointer;
    font-size: var(--ax-font-size-large);
    flex: 1;
    max-width: 8rem;
}
.button[data-variant="primary"]:hover {
    background-color: var(--ax-bg-accent-moderate-hover);
    color: var(--ax-text-accent);
}

.button:focus-visible {
    outline: 3px solid var(--ax-bg-default);
    outline-offset: 3px;
}

.moreLink {
    white-space: nowrap;
}
