.container {
    position: fixed;
    inset: auto 0 0;
    z-index: 1001;
    width: 100%;
    max-width: 1440px;
    padding-inline: var(--edge-spacing);
    padding-bottom: 1rem;

    @media (min-width: 48rem) {
        padding-bottom: 2rem;
        inset-inline-start: 50%;
        transform: translateX(-50%);
    }
}

.consentBanner {
    background-color: var(--a-surface-action);
    border-radius: var(--a-border-radius-large);
    display: none;
    max-width: 40rem;
    height: fit-content;
    inset: 2rem;
    margin: auto auto 0 0;
    position: fixed;
    z-index: 1001;

    @media (max-width: calc(48rem - 1px)) {
        max-height: calc(100svh - 100px);
        overflow-y: auto;
    }
}

:global(.consentBanner--open) {
    display: block;
}

:global(.minimizedCookieBanner) {
    .miniContent {
        display: flex;
    }
    .content {
        display: none;
    }
}

.miniContent {
    display: none;
    width: 100%;
}

.expandButton {
    background-color: transparent;
    color: var(--a-white);
    text-align: left;
    align-items: flex-start;
    width: 100%;
}

.expandButton span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    text-wrap: balance;
}

.expandIcon {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
    flex-shrink: 0;
}

.content {
    padding: 1rem;

    @media (min-width: 48rem) {
        padding: 2rem;
    }
}

.title {
    font-size: var(--a-font-size-heading-medium);
    font-weight: bold;
    margin-block: 0 var(--a-spacing-4);
    color: var(--a-surface-default);
    text-wrap: pretty;
}

.text {
    font-size: var(--a-font-size-large);
    line-height: 1.5;
    margin-bottom: var(--a-spacing-8);
    color: var(--a-surface-default);

    &:last-of-type {
        margin-bottom: 0;
    }
}

.text a {
    color: var(--a-surface-default);
    text-decoration: underline;
}

.text p {
    margin: 0;
}

.buttonContainer {
    display: flex;
    justify-content: flex-start;
    gap: var(--a-spacing-4);
    align-items: center;
    margin-bottom: var(--a-spacing-3);
}

.button,
.button:hover {
    background-color: var(--a-surface-default);
    color: var(--a-blue-500);
    cursor: pointer;
    font-size: var(--a-font-size-large);
    flex: 1;
    max-width: 8rem;
}

.button:focus-visible {
    box-shadow:
        inset 0 0 0 2px var(--a-border-action),
        var(--a-shadow-focus);
}

.moreLink {
    white-space: nowrap;
}
