.consentBanner {
    background-color: var(--a-surface-action);
    border-radius: var(--a-border-radius-large);
    display: none;
    height: fit-content;
    inset: 2rem;
    margin: auto auto 0 0;
    position: fixed;
    width: 41rem;
    z-index: 1000;

    @media (max-width: 768px) {
        inset: 0;
        margin: auto 1rem 1rem 1rem;
        width: calc(100% - 2rem);
    }
}

:global(.consentBanner--open) {
    display: block;
}

:global(.minimized-on-mobile) {
    @media (max-width: 768px) {
        .miniContent {
            display: flex;
        }
        .content {
            display: none;
        }
    }
}

.miniContent {
    display: none;
    width: 100%;
}

.expandButton {
    background-color: transparent;
    color: var(--a-white);
    text-align: left;
    align-items: flex-start;
    width: 100%;
    text-wrap: balance;
}

.expandButton span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.expandIcon {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
    flex-shrink: 0;
}

.content {
    margin: 2rem;
}

.title {
    font-size: var(--a-font-size-heading-medium);
    font-weight: bold;
    margin: 0 0 var(--a-spacing-4) 0;
    color: var(--a-surface-default);
    text-wrap: pretty;
}

.text {
    font-size: var(--a-font-size-large);
    line-height: 1.5;
    margin: 0 var(--a-spacing-8) var(--a-spacing-8) 0;
    color: var(--a-surface-default);
}

.text a {
    color: var(--a-surface-default);
    text-decoration: underline;
}

.text p {
    margin: 0;
}

.buttonContainer {
    display: flex;
    justify-content: flex-start;
    gap: var(--a-spacing-4);
    align-items: center;
    margin: 0 var(--a-spacing-8) var(--a-spacing-3) 0;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        > * {
            width: 100%;
        }
    }
}

.button,
.button:hover {
    background-color: var(--a-surface-default);
    color: var(--a-blue-500);
    cursor: pointer;
    font-size: var(--a-font-size-large);
    padding: var(--a-spacing-3) var(--a-spacing-14);
}

.button:focus-visible {
    box-shadow:
        inset 0 0 0 2px var(--a-border-action),
        var(--a-shadow-focus);
}
