.decoratorUtils {
    display: block;
}

.decoratorUtils.hidden {
    display: none;
}

.decoratorUtilsContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: var(--a-spacing-4);
    padding-block: var(--a-spacing-3);
}

.white {
    background-color: var(--a-bg-default);
}

.gray {
    background-color: var(--a-bg-subtle);
}
