.driftsmeldinger {
  background-color: var(--a-deepblue-600);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--a-spacing-2) 0px;
}

.driftsmeldingLink {
  display: flex;
  align-items: center;
  gap: var(--a-spacing-2);
  padding: 10px;
  padding-left: 0px;
}

.driftsmeldingLink p {
  text-decoration: underline;
  text-underline-offset: 3px;
  margin: 0px;
}
