.dropdownMenuContainer {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50% 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition-duration: 0.4s;
  transition-property: max-height, opacity;
  transition-timing-function: ease-in;
}

.dropdownMenuOpen > .dropdownMenuContainer {
  display: flex;
  justify-content: end;
  max-height: 100rem;
  opacity: 1;
  transition-duration: 0.6s;
  transition-property: max-height;
  transition-timing-function: ease-in-out;
  z-index: 1;
}

.dropdownMenuContent {
  background-color: var(--a-surface-default);
  border-radius: 0 0 var(--a-border-radius-medium) var(--a-border-radius-medium);
  padding-block: var(--a-spacing-2) var(--a-spacing-4);
  padding-inline: var(--a-spacing-4);
  margin-inline: calc(var(--a-spacing-4) * -1);
  flex-grow: 1;
}

@media (min-width: 1024px) {
  .dropdownMenuContent {
    padding-inline: var(--a-spacing-10);
    margin-inline: calc(var(--a-spacing-10) * -1);
    }
}