.dropdownMenuContainer {
    width: 100%;
    max-width: 1440px;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition-duration: 0.4s;
    transition-property: max-height, opacity;
    transition-timing-function: ease-in;
    background-color: var(--a-surface-default);
    border-radius: 0 0 var(--a-border-radius-medium)
        var(--a-border-radius-medium);
    word-break: break-word;
}

:where(.dropdownMenuOpen) > .dropdownMenuContainer {
    display: block;
    max-height: 100rem;
    opacity: 1;
    transition-duration: 0.6s;
    transition-property: max-height;
    transition-timing-function: ease-in-out;
    z-index: 1;
    /* fallback to vh units for older browsers without dvh support */
    height: calc(100vh - var(--header-height, 72px) - 6rem);
    @media (min-height: 0dvh) {
        height: calc(100dvh - var(--header-height));
    }
    overflow-y: auto;
    overscroll-behavior: contain;

    @media (min-width: 48rem) {
        height: initial;
        max-height: 80vh;
        border-radius: 0 0 var(--a-border-radius-medium)
            var(--a-border-radius-medium);
    }
}
