.feedback {
    border-top: 2px solid var(--a-gray-300);
    padding-block: var(--a-spacing-4);
    display: block;
}

.feedbackContent {
    margin-inline: auto;
    /* 768px */
    max-width: 48rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonWrapper {
    display: flex;
    gap: var(--a-spacing-2);
    padding-inline: var(--a-spacing-4);
}

.feedbackSuccess {
    text-align: center;
    justify-items: center;
    display: grid;
    gap: var(--a-spacing-1);
}
