.link {
    color: var(--a-text-action);
    text-decoration-color: var(--a-deepblue-200);
    text-decoration-thickness: 0.0625em;
    text-underline-offset: 0.15em;
}

.link:hover {
    text-decoration: none;
}

.link:focus {
    text-decoration: none;
    background-color: var(--a-border-focus);
    color: var(--a-text-on-action);
    outline: none;
}
