.link {
    color: var(--a-text-action);
}

.link:hover {
    text-decoration: none;
}

.link:active,
.link:focus-visible {
    outline: 2px solid transparent;
    color: var(--a-text-on-action);
    text-decoration: none;
    background-color: var(--a-border-focus);
    box-shadow: 0 0 0 2px var(--a-border-focus);
}

@supports not selector(:focus-visible) {
    .link:focus {
        outline: 2px solid transparent;
        color: var(--a-text-on-action);
        text-decoration: none;
        background-color: var(--a-border-focus);
        box-shadow: 0 0 0 2px var(--a-border-focus);
    }
}

/* .navds-link--action {
    color: var(--ac-link-action-text, var(--a-text-action));
}

.navds-link--neutral {
    color: var(--ac-link-neutral-text, var(--a-text-default));
}

.navds-link--subtle {
    color: var(--ac-link-subtle-text, var(--a-text-subtle));
} */
