@media (max-width: 47.9375rem) {
    .headerButton.headerButton {
        flex-direction: column;
        gap: 0;
        padding: var(--a-spacing-2) var(--a-spacing-3);
    }
}

/* Fikser alignment i Safari når det er satt ellipsis på child-elementet */
.headerButton :global(.label) {
    display: inline-flex;
    align-items: center;
}
