.logo {
    display: flex;
    padding: var(--ax-space-16) var(--ax-space-8);
    margin-left: calc(var(--ax-space-8) * -1);
    color: var(--ax-text-logo);
}

.logoSimple {
    color: var(--ax-text-default);
}

.logo:focus-visible {
    border-radius: var(--ax-radius-8);
    outline: 3px solid var(--ax-neutral-1000);
}

.siteheader {
    color: var(--ax-text-default);
    position: relative;
    z-index: 1000;
    background-color: var(--ax-bg-default);
    box-shadow: inset 0 -1px 0 var(--ax-neutral-300);
}

.hovedmenyWrapper {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.hovedmenyContent {
    display: flex;
    align-items: center;
    height: 100%;
    gap: var(--ax-space-40);
}

.arbeidsflate {
    display: none;
}

@media (min-width: 64rem) {
    .arbeidsflate {
        display: flex;
        height: 100%;
    }
}

.headerContextLink {
    color: inherit;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 4px solid transparent;
    padding: 0 1rem;
    text-decoration: none;
    cursor: pointer;
}

.headerContextLink:hover {
    border-color: var(--ax-neutral-300);
}

.headerContextLink.lenkeActive {
    font-weight: bold;
    border-color: var(--ax-neutral-900);
}
