.logo {
    display: flex;
    padding: var(--a-spacing-4) var(--a-spacing-2);
    margin-left: calc(var(--a-spacing-2) * -1);
    color: var(--a-nav-red);
}

.logoSimple {
    color: var(--a-icon-default);
}

.logo:focus {
    border-radius: var(--a-border-radius-medium);
    box-shadow: var(--a-shadow-focus);
    outline: none;
}

.siteheader {
    color: var(--a-text-default);
    position: relative;
    z-index: 1000;
    background-color: var(--a-surface-default);
    box-shadow: inset 0 -1px 0 var(--a-gray-300);
}

.hovedmenyWrapper {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.hovedmenyContent {
    display: flex;
    align-items: center;
    height: 100%;
    gap: var(--a-spacing-10);
}

.arbeidsflate {
    display: none;
}

@media (min-width: 64rem) {
    .arbeidsflate {
        display: flex;
        height: 100%;
    }
}

.headerContextLink {
    color: inherit;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 4px solid transparent;
    padding: 0 1rem;
    text-decoration: none;
    cursor: pointer;
}

.headerContextLink:hover {
    border-color: var(--a-gray-300);
}

.headerContextLink.lenkeActive {
    font-weight: bold;
    border-color: var(--a-text-action);
}
