.textInput {
    -webkit-appearance: none;
    appearance: none;
    padding: var(--ax-space-8);
    background-color: var(
        --ac-textfield-bg,
        var(--__ac-textfield-bg, var(--ax-bg-default))
    );
    border-radius: var(--ax-radius-8);
    border: 1px solid
        var(
            --ac-textfield-border,
            var(--__ac-textfield-border, var(--ax-border-default))
        );
    min-height: 3rem;
    width: 100%;
    color: var(
        --ac-textfield-text,
        var(--__ac-textfield-text, var(--ax-text-default))
    );
    font-family: var(--ax-font-family);
}

.textInput.invalid {
    border-color: var(--ax-border-danger);
    border-width: 2px;
}

.textInputLabel {
    font-size: var(--ax-font-size-large);
    font-weight: var(--ax-font-weight-bold);
    letter-spacing: 0;
    line-height: var(--ax-font-line-height-large);
    margin: 0;
}

.errorList {
    display: none;
    color: var(--ax-text-danger);
    font-weight: var(--ax-font-weight-bold);
    padding-top: 0;
    margin-top: var(--ax-space-8);
    padding-left: var(--ax-space-20);
}

.errorList.showErrors {
    display: block;
}
