.mainMenu {
    display: grid;
}

@media (min-width: 64rem) {
    .mainMenu {
        grid-template-columns: 2fr;
        grid-auto-columns: minmax(340px, 1fr);
        grid-auto-flow: column;
    }
}

.content {
    padding: var(--a-spacing-8);
    padding-left: var(--edge-spacing);
    display: grid;
    gap: var(--a-spacing-8);
}

.header {
    display: grid;
    justify-items: start;
    gap: var(--a-spacing-3);
}

.links {
    columns: 18rem 4;
    gap: var(--a-spacing-6);
}

.linkGroup {
    break-inside: avoid;
    margin-bottom: var(--a-spacing-10);
}

.linkGroupHeading {
    margin-block: 0 var(--a-spacing-3);
}

.linkList {
    list-style: none;
    margin-block: 0;
    padding-left: 0;
    display: grid;
    gap: var(--a-spacing-2);
}

.contextLinks {
    background-color: var(--a-surface-subtle);
    columns: 20rem 3;
    gap: var(--a-spacing-3);
    padding-block: var(--a-spacing-6);
    padding-inline: var(--edge-spacing);
}

@media (min-width: 64rem) {
    .contextLinks {
        padding-inline-start: var(--a-spacing-6);
        padding-block: var(--a-spacing-6);
    }
}

.contextLink {
    break-inside: avoid;
    display: block;
    margin-block-end: var(--a-spacing-3);
    background-color: var(--a-surface-default);
    padding: var(--a-spacing-6);
    border-radius: var(--a-border-radius-large);
    border: 2px solid var(--a-text-action);
    text-decoration: none;
}

.contextLink:focus {
    box-shadow: var(--a-shadow-focus);
    outline: none;
}

.contextLink:hover {
    background-color: var(--a-surface-action);
    border: 2px solid var(--a-border-action);
}

.contextLinkTitle {
    color: var(--a-text-action);
    font-size: var(--a-font-size-large);
    font-weight: var(--a-font-weight-bold);
}

.contextLink:hover .contextLinkTitle {
    color: var(--a-text-on-action);
}

.contextLinkDescription {
    color: var(--a-text-default);
}

.contextLink:hover .contextLinkDescription {
    color: var(--a-text-on-action);
}
