.menuItems {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--a-spacing-2);
}

.menuItemsUniversalLinks {
    display: flex;
    gap: var(--a-spacing-2);
}

.searchDropdown {
    max-width: 700px;
    padding: var(--a-spacing-6) var(--edge-spacing) var(--a-spacing-8);
}

.searchButton.searchButton {
    display: none;
}

@media (min-width: 768px) {
    .searchButton.searchButton {
        display: flex;
    }
}

.searchMenu {
    display: grid;
    gap: var(--a-spacing-4);
}
