.menuItems {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--ax-space-8);
}

.menuItemsUniversalLinks {
    display: flex;
    gap: var(--ax-space-8);
}

.searchDropdown {
    max-width: 700px;
    padding: var(--ax-space-24) var(--edge-spacing) var(--ax-space-32);
}

.searchButton.searchButton {
    display: none;
}

@media (min-width: 48rem) {
    .searchButton.searchButton {
        display: flex;
    }
}

.searchMenu {
    display: grid;
    gap: var(--ax-space-16);
}
