.notificationsEmpty {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--ax-space-4);
    border-radius: 20px;
    padding: var(--ax-space-16);
    background-color: var(--ax-bg-default);
    box-shadow: var(--ax-shadow-dialog);
}

.heading {
    margin-block: 0;
    font-size: var(--ax-font-size-large);
    line-height: var(--ax-font-line-height-xlarge);
    margin-bottom: 2px;
}

.description {
    margin-block: 0;
    font-size: var(--ax-font-size-medium);
    line-height: var(--ax-font-line-height-large);
    margin-bottom: var(--ax-space-12);
}

.image {
    padding: var(--ax-space-8);
    height: 96px;
}
