.notification {
  display: grid;
  gap: var(--a-spacing-3);
  border: 1px solid var(--a-border-subtle);
  border-radius: var(--a-border-radius-large);
  padding: var(--a-spacing-4);
  background-color: var(--a-surface-default);
  transition: background-color 0.1s linear;
  position: relative;
}

.notification:hover {
  background-color: var(--a-surface-hover);
}

.text {
  display: block;
  font-weight: var(--a-font-weight-bold);
}

.text::after {
  content: '';
  position: absolute;
  inset: 0;
}

.date {
  color: var(--a-text-subtle);
  font-size: var(--a-font-size-medium);
}

.bottom {
  display: flex;
  gap: var(--a-spacing-2);
  align-items: center;
}

.bottom :last-child {
  margin-left: auto;
}

.tag {
  border-radius: var(--a-border-radius-small);
  padding-inline: var(--a-spacing-1);
  background-color: var(--a-surface-neutral-subtle);
  font-size: var(--a-font-size-medium);
  line-height: var(--a-font-line-height-large);
}

.chevron {
  font-size: var(--a-font-size-xlarge);
  color: var(--a-text-subtle);
}
