.notificationsHeading {
    margin-block: 0;
    font-size: var(--a-font-size-heading-medium);
    letter-spacing: -0.002em;
    line-height: var(--a-font-line-height-heading-medium);
    font-weight: var(--a-font-weight-bold);
}

.notifications {
    display: flex;
    flex-direction: column;
    gap: var(--a-spacing-3);
}

.notificationList {
    display: flex;
    flex-direction: column;
    gap: 1px;
    list-style: none;
    margin-block: 0;
    padding-left: 0;
    border-radius: var(--a-border-radius-xlarge);
    overflow: clip;
}

.allNotificationsLink {
    align-self: center;
}

.notification {
    display: grid;
    grid-template-columns: [icon] auto [content] 1fr;
    position: relative;
    gap: var(--a-spacing-3);
    border-radius: var(--a-border-radius-small);
    padding: var(--a-spacing-4);
    background-color: var(--a-surface-default);
}

/* .notifications :is(:first-child) .notification {
    border-top-left-radius: var(--a-border-radius-xlarge);
    border-top-right-radius: var(--a-border-radius-xlarge);
}

.notifications :is(:last-child) .notification {
    border-bottom-left-radius: var(--a-border-radius-xlarge);
    border-bottom-right-radius: var(--a-border-radius-xlarge);
} */

.notification:has(a:focus-visible) {
    box-shadow: var(--a-shadow-focus);
    border-radius: var(--a-border-radius-xlarge);
}

/* .notification:has(a:hover) {
    color: var(--a-text-action);
    box-shadow: var(--a-shadow-small);
} */

.notification:has(a:hover) a {
    text-decoration: none;
}

.notification a::after {
    content: "";
    position: absolute;
    inset: 0;
}

.notification a:focus {
    outline: none;
    color: var(--a-text-action);
}

.icon {
    border-radius: var(--a-border-radius-xlarge);
    background-color: var(--a-surface-subtle);
    grid-column: icon;
    align-self: start;
    padding: var(--a-spacing-2);
    display: grid;
    place-items: center;
    font-size: var(--a-font-size-heading-medium);
    color: var(--a-icon-subtle);
}

.content {
    grid-column: content;
    display: grid;
    justify-items: start;
    align-content: start;
    gap: var(--a-spacing-1);
}

.text {
    font-weight: var(--a-font-weight-bold);
    margin-top: 0;
    margin-bottom: 0;
}

.metadata {
    color: var(--a-text-subtle);
    font-size: var(--a-font-size-medium);
    line-height: var(--a-font-line-height-medium);
    display: flex;
    flex-wrap: wrap;
    gap: var(--a-spacing-2);
    align-items: center;
    justify-items: start;
    margin-top: 0;
    margin-bottom: 0;
}

.button {
    margin-top: var(--a-spacing-2);
}
