.notificationsHeading {
    margin-block: 0;
    font-size: var(--ax-font-size-heading-medium);
    letter-spacing: -0.002em;
    line-height: var(--ax-font-line-height-heading-medium);
    font-weight: var(--ax-font-weight-bold);
}

.notifications {
    display: flex;
    flex-direction: column;
    gap: var(--ax-space-12);
}

.notificationList {
    display: flex;
    flex-direction: column;
    gap: 1px;
    list-style: none;
    margin-block: 0;
    padding-left: 0;
    border-radius: var(--ax-radius-16);
    overflow: clip;
}

.allNotificationsLink {
    align-self: center;
}

.notification {
    display: grid;
    grid-template-columns: [icon] auto [content] 1fr;
    position: relative;
    gap: var(--ax-space-12);
    border-radius: var(--ax-radius-4);
    padding: var(--ax-space-16);
    background-color: var(--ax-bg-default);
}

.notification:has(a:focus-visible) {
    outline: 3px solid var(--ax-neutral-1000);
    border-radius: var(--ax-radius-16);
}

.notification:has(a:hover) a {
    text-decoration: none;
}

.notification a::after {
    content: "";
    position: absolute;
    inset: 0;
}

.notification a:focus-visible {
    outline: none;
    color: var(--ax-neutral-900);
}

.icon {
    border-radius: 20px;
    background-color: var(--ax-neutral-200);
    grid-column: icon;
    align-self: start;
    padding: var(--ax-space-8);
    display: grid;
    place-items: center;
    font-size: var(--ax-font-size-heading-medium);
    color: var(--ax-neutral-900);
}

.content {
    grid-column: content;
    display: grid;
    justify-items: start;
    align-content: start;
    gap: var(--ax-space-4);
}

.text {
    font-weight: var(--ax-font-weight-bold);
    margin-top: 0;
    margin-bottom: 0;
}

.metadata {
    color: var(--ax-neutral-900);
    font-size: var(--ax-font-size-medium);
    line-height: var(--ax-font-line-height-medium);
    display: flex;
    flex-wrap: wrap;
    gap: var(--ax-space-8);
    align-items: center;
    justify-items: start;
    margin-top: 0;
    margin-bottom: 0;
}

.button {
    margin-top: var(--ax-space-8);
}
