.opsMessages {
    background-color: var(--ax-brand-blue-900);
    display: block;
}

.opsMessagesContent {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--ax-space-32);
    padding-block: var(--ax-space-8);
    justify-content: flex-start;
}

@media (min-width: 48rem) {
    .opsMessagesContent {
        justify-content: center;
        column-gap: var(--ax-space-64);
    }
}

.opsMessage {
    border-radius: var(--ax-radius-8);
    color: var(--ax-text-neutral-contrast);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: var(--ax-space-8);
    padding-block: var(--ax-space-8);
    cursor: pointer;
    text-decoration-thickness: 0.0625em;
    text-underline-offset: 0.15em;
}

.opsMessage:hover {
    text-decoration: none;
    color: var(--ax-text-neutral-contrast);
}

.opsMessage:focus {
    box-shadow: 0 0 0 3px var(--ax-text-neutral-contrast);
    outline: none;
    text-decoration: none;
}
