.opsMessages {
    background-color: var(--a-deepblue-600);
    display: block;
}

.opsMessagesContent {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--a-spacing-8);
    padding-block: var(--a-spacing-2);
    justify-content: flex-start;
}

@media (min-width: 768px) {
    .opsMessagesContent {
        justify-content: center;
        column-gap: var(--a-spacing-16);
    }
}

.opsMessage {
    border-radius: var(--a-border-radius-medium);
    color: var(--a-text-on-action);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: var(--a-spacing-2);
    padding-block: var(--a-spacing-2);
    cursor: pointer;
    text-decoration-thickness: 0.0625em;
    text-underline-offset: 0.15em;
}

.opsMessage:hover {
    text-decoration: none;
}

.opsMessage:focus {
    box-shadow: 0 0 0 3px var(--a-text-on-action);
    outline: none;
    text-decoration: none;
}

.icon {
    font-size: 1.5rem;
}
