.screensharingModal {
    overflow: visible;
    border: none;
    max-width: 560px;
    width: 100%;
}

.avatar {
    position: absolute;
    width: 70px;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.content {
    padding-top: var(--a-spacing-4);
}

.buttonsWrapper {
    margin-top: var(--a-spacing-4);
    display: flex;
    gap: var(--a-spacing-4);
}

.children {}
.codeInput {}
.confirmButton {}
.cancelButton {}

