.screensharingModal {
    overflow: visible;
    border: none;
    max-width: 560px;
    width: 100%;
}

.screensharingModal .closed {
    display: none;
}

.screensharingModal.isClosed .closed {
    display: block;
}

.screensharingModal.isClosed .open {
    display: none;
}

.avatar {
    position: absolute;
    width: 70px;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.content {
    padding-top: var(--a-spacing-4);
}

.buttonsWrapper {
    margin-top: var(--a-spacing-4);
    display: flex;
    gap: var(--a-spacing-4);
}

.closed {
    display: block;
}
