.screensharingModal {
    overflow: visible;
    border: none;
    max-width: 560px;
    width: 100%;
}

.avatar {
    position: absolute;
    width: 70px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    padding-top: var(--a-spacing-4);
}

.buttonsWrapper {
    margin-top: var(--a-spacing-4);
    display: flex;
    gap: var(--a-spacing-4);
}

.children {
    margin-top: var(--a-spacing-4);
}
