.screenshareButton {
    background: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    color: var(--ax-text-subtle);
    display: grid;
    grid-auto-flow: column;
    gap: var(--ax-space-8);
    align-items: center;
    text-decoration: underline;
    text-decoration-color: #99c4dd;
    text-decoration-thickness: 0.0625em;
    text-underline-offset: 0.15em;
    padding-block: 0.5625rem;
    border: 1px solid transparent;
}

.screenshareButton:hover {
    text-decoration: none;
}

.screenshareButton:focus {
    text-decoration: none;
    background-color: var(--ax-border-focus);
    color: var(--ax-text-contrast);
    outline: none;
}

[data-theme="dark"] .screenshareButton {
    font-weight: var(--ax-font-weight-bold);
    color: var(--ax-text-contrast);
    padding-inline: var(--ax-space-16) var(--ax-space-12);
    background-color: #004367;
    border-radius: var(--ax-radius-8);
    align-items: center;
    transition:
        border-color 100ms,
        background-color 100ms;
    text-decoration: none;
}

[data-theme="dark"] .screenshareButton:hover {
    background-color: #005b82;
    border-color: #66a3c4;
}

[data-theme="dark"] .screenshareButton:focus-visible {
    box-shadow: 0 0 0 3px #99c3ff;
}

[data-theme="dark"] .screenshareButton:active {
    background-color: #005077;
}

.screenshareButton svg {
    font-size: 1.25rem;
}
