.screenshareButton {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    color: var(--a-text-action);
    display: grid;
    grid-auto-flow: column;
    gap: var(--a-spacing-2);
    align-items: center;
    text-decoration: underline;
    text-decoration-color: var(--a-deepblue-200);
    text-decoration-thickness: 0.0625em;
    text-underline-offset: 0.15em;
    padding-block: 0.5625rem;
    border: 1px solid transparent;
}

.screenshareButton:hover {
    text-decoration: none;
}

.screenshareButton:focus {
    text-decoration: none;
    background-color: var(--a-border-focus);
    color: var(--a-text-on-action);
    outline: none;
}

[data-theme="dark"] .screenshareButton {
    color: var(--a-text-on-inverted);
    padding-inline: var(--a-spacing-4) var(--a-spacing-3);
    background-color: var(--a-deepblue-700);
    border-radius: var(--a-border-radius-medium);
    align-items: center;
    transition:
        border-color 100ms,
        background-color 100ms;
    text-decoration: none;
}

[data-theme="dark"] .screenshareButton:hover {
    background-color: var(--a-deepblue-500);
    border-color: var(--a-deepblue-300);
}

[data-theme="dark"] .screenshareButton:focus-visible {
    box-shadow: 0 0 0 3px var(--a-border-focus-on-inverted);
}

[data-theme="dark"] .screenshareButton:active {
    background-color: var(--a-deepblue-600);
}

.screenshareButton svg {
    font-size: 1.25rem;
}
