.searchInput {
  background-color: white;
  border: 2px solid var(--a-blue-500);
  padding: 0.7rem 1rem;
  border-radius: 3px;
  box-sizing: border-box;
  width: 100%;
  min-height: 48px;
  font-size: 18px;
  line-height: 24px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.searchInput:focus-visible {
  outline: none;
}

.searchInputWrapper {
  display: flex;
}

.blueBgIcon {
  background-color: var(--a-blue-500);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: white;
  border-left: none;
}

.label {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  display: block;
}
