.searchHits {
	display: grid;
	gap: var(--ax-space-20);
}

.heading {
	margin: 0;
	font-size: var(--ax-font-size-large);
	line-height: var(--ax-font-line-height-xlarge);
	font-weight: var(--ax-font-weight-bold);
}

.searchHitList {
	list-style: none;
	margin: 0;
	padding: 0;
	border-top: 1px solid var(--ax-border-neutral-subtle);
}

.searchHit {
	position: relative;
	display: grid;
	gap: var(--ax-space-4);
	padding: var(--ax-space-16) 0;
	border-bottom: 1px solid var(--ax-border-neutral-subtle);

	&:has(a:hover) {
		background-color: var(--ax-neutral-300);
	}

	&:has(a:focus-visible),
	&:has(a:active) {
		outline: 3px solid var(--ax-brand-blue-900);
		outline-offset: 3px;
		border-radius: 1px;
	}
}

.link {
	color: inherit;
	text-decoration: none;

	&:after {
		content: '';
		position: absolute;
		inset: 0;
	}
	&:focus-visible {
		outline: none;
	}
}

.searchMoreHits {
	display: inline-flex;
	align-items: center;
	gap: var(--ax-space-8);
	color: var(--ax-text-accent-subtle);
}

@media (min-width: 48rem) {
	.searchHit {
		border-bottom: 1px solid var(--ax-border-neutral);
	}
}

.chevron {
	height: var(--ax-font-line-height-heading-small);
}

@media (min-width: 48rem) {
	.chevron {
		display: none;
	}
}
