.searchHits {
    display: grid;
    gap: var(--ax-space-20);
}

.heading {
    margin: 0;
    font-size: var(--ax-font-size-large);
    line-height: var(--ax-font-line-height-xlarge);
    font-weight: var(--ax-font-weight-bold);
}

.searchHitList {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid var(--ax-border-subtle);
}

.searchHit {
    color: inherit;
    text-decoration: none;
    display: grid;
    gap: var(--ax-space-4);
    padding: var(--ax-space-16) 0;
    border-bottom: 1px solid var(--ax-border-subtle);
}

.searchMoreHits {
    display: inline-flex;
    align-items: center;
    gap: var(--ax-space-8);
    color: var(--ax-text-subtle);
}

@media (min-width: 48rem) {
    .searchHit {
        border-bottom: 1px solid var(--ax-border-default);
    }
}

.chevron {
    height: var(--ax-font-line-height-heading-small);
}

@media (min-width: 48rem) {
    .chevron {
        display: none;
    }
}

.searchHit:hover {
    background-color: var(--ax-bg-neutral-moderate-hover);
}

.searchHit:focus-visible,
.searchHit:active {
    background-color: var(--ax-brand-blue-900);
    color: var(--ax-text-brand-blue-contrast);
    outline: none;
}

.title {
    margin-block: 0;
    font-size: var(--ax-font-size-heading-small);
    letter-spacing: -0.001em;
    line-height: var(--ax-font-line-height-heading-small);
}
