.searchForm {
    display: grid;
    gap: var(--ax-space-8);
}

.label {
    justify-self: start;
    font-size: var(--ax-font-size-large);
    font-weight: var(--ax-font-weight-bold);
    line-height: var(--ax-font-line-height-large);
}

.searchWrapper {
    display: grid;
    grid-template-columns: 1fr auto;
}

.searchWrapperInner {
    position: relative;
    display: flex;
    align-items: center;
}

.searchInput {
    appearance: none;
    background-color: var(--ax-bg-default);
    border: 1px solid var(--ax-neutral-600);
    border-radius: var(--ax-radius-8);
    min-height: 3rem;
    padding: var(--ax-space-8);
    padding-right: var(--ax-space-40);
    width: 100%;
    font-size: var(--ax-font-size-large);
    font-weight: var(--ax-font-weight-regular);
    line-height: var(--ax-font-line-height-large);
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.searchInput:focus-visible {
    box-shadow: 0 0 0 3px var(--ax-neutral-1000);
    outline: none;
}

.clear {
    align-items: center;
    background: none;
    border: none;
    border-radius: var(--ax-radius-8);
    color: var(--ax-text-default);
    cursor: pointer;
    display: flex;
    font-size: 1.25rem;
    justify-content: center;
    padding: 0;
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    height: 2rem;
    width: 2rem;
}

.clear:hover {
    color: var(--ax-neutral-900);
}

.clear:focus-visible {
    outline: 3px solid var(--ax-neutral-1000);
}

.submit {
    align-items: center;
    background-color: var(--ax-accent-600);
    border: none;
    border-radius: var(--ax-radius-8);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    color: var(--ax-neutral-000);
    cursor: pointer;
    padding: 0;
    min-width: 4rem;
}

.submit:focus-visible {
    outline: 3px solid var(--ax-neutral-1000);
    outline-offset: 2px;
    z-index: 1;
}

.submit:hover {
    background-color: var(--ax-accent-300);
}

.submit:active {
    background-color: var(--ax-accent-400);
}
