.searchHits {
    display: grid;
    gap: var(--a-spacing-4);
}

.searchHitList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.searchHit {
    text-decoration: none;
    color: inherit;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--a-spacing-2);
    padding: var(--a-spacing-3) 0;
}

.searchMoreHits {
    display: inline-flex;
    align-items: center;
    margin-top: 1rem;
}

.searchHitRightArrow {
    margin-left: 0.5rem;
    font-size: 1.25rem;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

@media (min-width: 768px) {
    .searchHit {
        border-bottom: 1px solid var(--a-border-default);
    }
}

.chevron {
    height: var(--a-font-line-height-heading-small);
}

@media (min-width: 768px) {
    .chevron {
        display: none;
    }
}

.searchHit:hover {
    background-color: var(--a-gray-300);
}

.searchHit:focus-visible,
.searchHit:active {
    background-color: var(--a-deepblue-500);
    color: var(--a-text-on-action);
    outline: none;
}

.title {
    margin-block: 0;
    font-size: var(--a-font-size-heading-small);
    letter-spacing: -0.001em;
    line-height: var(--a-font-line-height-heading-small);
}
