.simpleFooter {
    border-top: 2px solid var(--a-blue-500);
    background-color: var(--a-surface-default);
    padding-block: var(--a-spacing-4);
}

.simpleFooterContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--a-spacing-4);
}

@media (min-width: 48rem) {
    .simpleFooterContent {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.footerLinkList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (min-width: 48rem) {
    .footerLinkList {
        flex-direction: row;
        gap: var(--a-spacing-8);
    }
}

.footerLink {
    padding-block: 0.625rem;
}
