.simpleUserMenu {
    display: flex;
    align-items: center;
    gap: var(--a-spacing-2);
}

.name {
    display: grid;
}

@media (min-width: 48rem) {
    .name {
        grid-auto-flow: column;
        gap: var(--a-spacing-1);
    }
}
