:root {
    --decorator-sticky-offset: var(--header-height);
}

.placeholder {
    position: relative;
    display: block;
    height: var(--header-height);
}

/*
    Disable sticky behaviour when viewed from vergic co-browsing UI.
    The #vngageDOMCSS4 element is presently only be rendered when viewed from co-browsing
    but there's no guarantee this assumption will hold in the future. :D
*/
html:has(head > :global(#vngageDOMCSS4)) {
    .absoluteWrapper {
        top: 0 !important;
    }

    .fixed {
        position: revert !important;
    }
}

/*
    Disable sticky behaviour when viewed from puzzel co-browsing UI.
    The #pzl_chat element is presently only be rendered when viewed from co-browsing
    but there's no guarantee this assumption will hold in the future. :D
*/
html:has(head > :global(#pzl_chat)) {
    .absoluteWrapper {
        top: 0 !important;
    }

    .fixed {
        position: revert !important;
    }
}

.absoluteWrapper {
    position: absolute;
    top: 0;
    width: 100%;
}

.fixedWrapper {
    width: 100%;
    border-bottom: 1px solid var(--a-border-subtle);
    background-color: var(--a-surface-default);
}

.fixed {
    position: fixed;
    top: 0;
}
