.stickyContent {
    position: absolute;
    width: 100%;
    border-bottom: 1px solid var(--a-border-subtle);
    background-color: var(--a-surface-default);
    top: 0;
    transition-property: transform, visibility;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}

.stickyWrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
}
