/*
 Note: this custom property is also used by consuming applications for positioning their own
 sticky elements relative to the sticky header. It should specify the visible height of the
 sticky header.
 Do not change the name or value assignment logic of this property without notifying consumers.
*/
:root {
    --decorator-sticky-offset: var(--header-height);
}

.stickyWrapper {
    position: absolute;
    width: 100%;
    border-bottom: 1px solid var(--a-border-subtle);
    background-color: var(--a-surface-default);
    top: 0;
}

.placeholder {
    position: relative;
    display: block;
    height: var(--header-height);
}

.fixed {
    position: fixed;
    top: 0;
}
