.userMenuDropdown {
    max-width: 600px;
}

@media (min-width: 768px) {
    .userMenuDropdown {
        max-height: 80vh;
        overflow-y: auto;
    }
}

.userMenuButton span {
    text-overflow: ellipsis;
    max-width: 99px;
    white-space: nowrap;
    overflow: hidden;
}

.icon {
    font-size: 1.5rem;
}

.iconWrapper {
    position: relative;
}

.iconWrapper::after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    right: 0;
    height: 7px;
    width: 7px;
    border-radius: 100%;
    background-color: #fb0505;
    border: 1.5px solid white;
}
