.varslerPopulated {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-6);
  padding: var(--a-spacing-4);
}

.sectionHeading {
  font-size: var(--a-font-size-large);
  font-weight: var(--a-font-weight-regular);
  line-height: var(--a-font-line-height-large);
  margin: 0 0 var(--a-spacing-4) 0;
}

.tidligereVarsler {
  text-decoration: underline;
  text-underline-offset: 0.15em;
  color: var(--a-text-default);
  cursor: pointer;
}

.tidligereVarsler:hover {
  text-decoration: none;
}

.varselList {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-2);
}

.varsel {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-3);
  border: 1px solid var(--a-border-subtle);
  border-radius: var(--a-border-radius-large);
  padding: var(--a-spacing-4);
  background-color: var(--a-surface-default);
  transition: background-color 0.1s linear;
  position: relative;
}

.varsel:not(.isDismissable):hover {
  background-color: var(--a-surface-hover);
}

.title {
  line-height: var(--a-font-line-height-large);
  font-weight: var(--a-font-weight-bold);
}

.varsel.isDismissable .title {
  font-weight: var(--a-font-weight-normal);
  margin-bottom: var(--a-spacing-1);
}

.varsel:not(.isDismissable) .title::after {
  content: '';
  position: absolute;
  inset: 0;
}

.time {
  color: var(--a-text-subtle);
  font-size: var(--a-font-size-medium);
  line-height: var(--a-font-line-height-large);
}

.metaOgKnapp {
  display: flex;
  justify-content: space-between;
}

.meta {
  display: flex;
  gap: var(--a-spacing-2);
  align-items: center;
}

.varselNotice {
  border-radius: var(--a-border-radius-small);
  padding: 0 var(--a-spacing-1);
  background-color: var(--a-surface-neutral-subtle);
  color: var(--a-text-default);
  font-size: var(--a-font-size-medium);
  line-height: var(--a-font-line-height-large);
}

.forwardChevron {
  font-size: var(--a-font-size-xlarge);
  color: var(--a-text-subtle);
}
