name: Deploy Storybook to GitHub Pages
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Build and test
        id: build_test
        uses: ./.github/actions/build-test
        with:
          READER_TOKEN: ${{ secrets.READER_TOKEN }}
          SKIP_TESTS: ${{ inputs.SKIP_TESTS }}

      - name: Build Storybook
        run: bun run build-storybook

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./storybook-static

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
