name: Deploy to Team Nav.no dev2/beta
on:
  workflow_dispatch:
    inputs:
      DEPLOY_PREVIOUS:
        description: "Deploy previous version to internal"
        required: false
        type: boolean
      SKIP_TESTS:
        description: "Skip tests"
        required: false
        type: boolean
        default: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    outputs:
      IMAGE: ${{ steps.build_test.outputs.IMAGE }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Build and test
        id: build_test
        uses: ./.github/actions/build-test
        with:
          READER_TOKEN: ${{ secrets.READER_TOKEN }}
          TAG_LATEST: true
          IMAGE_SUFFIX: dev-beta-navno
          SKIP_TESTS: ${{ inputs.SKIP_TESTS }}

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment: dev-beta-navno
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Deploy to Nais
        uses: ./.github/actions/deploy-to-nais
        with:
          DEPLOY_INSTANCE: dev-beta-navno
          CLUSTER: dev-gcp
          IMAGE: ${{ needs.build.outputs.IMAGE }}
          DEPLOY_PREVIOUS: ${{ inputs.DEPLOY_PREVIOUS }}
          PREV_VERSION_ID: ${{ vars.PREV_VERSION_ID }}
          PREV_IMAGE: ${{ vars.PREV_IMAGE }}
          VARS_UPDATE_TOKEN: ${{ secrets.VARS_UPDATE_TOKEN }}
