name: Run tests on PR
on:
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Build and run tests (test-only)
        uses: ./.github/actions/build-test
        with:
          READER_TOKEN: ${{ secrets.READER_TOKEN }}
          TEST_ONLY: "true"
