._simpleFooter_1hpt9_1 {
  border-top: 2px solid #0067c5;
  background-color: white;
  margin: 0 auto;
  padding: 1rem 3rem;
  color: #0067c5;
}
._linkButton_16t2e_1 {
  color: var(--ac-button-tertiary-text, var(--a-text-action));
  border-radius: var(--a-border-radius-medium);
  padding: 0 var(--a-spacing-2);
}

._linkButton_16t2e_1:hover {
  background-color: var(--a-surface-action-subtle-hover);
}

._text_16t2e_11 {
  font-size: var(--a-font-size-medium);
  letter-spacing: 0.002em;
  line-height: var(--a-font-line-height-medium);
  font-weight: bold;
}
._varsel_8hwej_1 {
  border: 1px solid var(--a-border-subtle);
  display: block;
  border-radius: var(--a-spacing-2);
  padding: var(--a-spacing-4);
  margin: var(--a-spacing-2) 0px;
  background-color: white;
  transition: background-color 0.1s linear;
  cursor: pointer;
}

._maskert_8hwej_12 {
}
._maskert_8hwej_12:hover {
  background-color: var(--a-surface-hover);
}

._timestamp_8hwej_18 {
  margin: 0;
  color: #707070;
  font-size: 16px;
}

._title_8hwej_24 {
  margin: 0;
  font-size: 18px;
}

._metaOgKnapp_8hwej_29 {
  margin-top: var(--a-spacing-3);
  display: flex;
  justify-content: space-between;
  color: #707070;
}

._meta_8hwej_29 {
  display: flex;
  gap: var(--a-spacing-2);
}

._varselNotice_8hwej_41 {
  border-radius: var(--a-border-radius-small);
  padding: 0px var(--a-spacing-1);
  min-height: 1.25rem;
  /* Should maybe be it's own tag class */
  background-color: var(--ac-tag-neutral-bg, var(--a-surface-neutral-subtle));
  color: var(--ac-tag-neutral-text, var(--a-text-default));
  font-size: 16px;
}

._tidligereVarslerContainer_8hwej_51 {
  display: block;
  text-align: left;
  width: 100%;
  margin: var(--a-spacing-4) 0px;
  margin-bottom: 0px;
}

._tidligereVarsler_8hwej_51 {
  text-align: left;
  text-decoration: underline;
}
._dropdownButton_86vnp_1 {
}
